---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

## [UM-SJTU](https://www.ji.sjtu.edu.cn/about/)

- Teaching assistant for **Decision Making in Smart Cities (ECE4530J )**, Summer 2022
  - Undergraduate course
  - **Course Description**: Introduction to key applications in smart cities and relevant decision-making problems. Concepts of connected and autonomous vehicles, intelligent transportation systems, smart grid, smart living, smart environment, smart economy, smart governance. Formulation of decision-making problems embedded in smart city applications, including linear, nonlinear, stochastic, and game-theoretic control/optimization/learning problems. Computer simulation of the above applications and problems. Basic concepts in control/optimization/learning theories. Suitable for junior/senior students interested in preliminary knowledge of smart cities and decision-making theories. Prepares students for more advanced courses on control, optimization, and learning.
